<%- include('./partials/head.ejs') %>

<main>
  <body>
   
   <style>
      .image {
        z-index: -1;
        height: 300px;
      }
    </style>

    <div class="homepage">
      Startpagina / <a href="/index.ejs" class="homepagina"> Ali-Profiel</a>
    </div>
    <section class="main-background">
      <div class="middle">
        <h1>Ali's Profiel</h1>
        <a href="/proces" class="btn btn1"> Proces </a>
        <a href="/agenda" class="btn btn2"> Agenda / Logboek </a>
      </div>
    </section>
</main>

<%- include('./partials/foot.ejs') %>
