<%- include('./partials/head.ejs') %>

   
   <style>
      .image {
        z-index: -1;
        height: 300px;
      }
   </style>

    <div class="homepage">
      <a href="/" class="homepagina"> Startpagina </a> | Ali Profiel
    <section class="main-background">
      <div class="middle">
        <h1>Ali's Profiel</h1>
        <a href="/proces" class="btn btn1"> Proces </a>
        <a href="/agenda" class="btn btn2"> Agenda | Logboek </a>
      </div>
    </section>


<%- include('./partials/foot.ejs') %>
